.header{
    background-color:  #89cff0;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    
}
ul{
    list-style: none;
    display: flex;
   gap: 12px;
}
.firstcattos{
    font-size: large;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.afewwords{
    display: flex;
    flex-direction: column;
    
}
button{
    max-width: 100px;
    background-color:#3882F6;
    border-radius: 4px;
}
.upperall{
display: flex;
background-color: #e6d7ff;
}
.uppertext{
    display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
.welcome{
    margin: 0%;
    padding: 0%;
}
  
    